
<section class="d-flex justify-content-center align-items-center p-5">
    <div class="row rounded g-0 overflow-hidden shadow w-100 align-items-center">
        <div class="col-lg-8 d-none d-md-block">
            <div class="image bg-info"></div>
        </div>
        <div class="col-lg-4">
            <form class="p-4" [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
                <h1 class="text-center display-1">Login</h1>
                
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" type="email" matInput  placeholder="Ex.basmala@example.com">
                    <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                      Email is required
                    </mat-error>
                    <mat-error *ngIf="loginForm.get('email')?.hasError('pattern')">
                        Email is invalid
                      </mat-error>
                      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
                        Email is invalid
                      </mat-error>
                  
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Enter your password</mat-label>
                    <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                        password is required
                      </mat-error>
                  </mat-form-field>
                 
                 <button [disabled]="loginForm.invalid" class="w-100" mat-raised-button color="primary">Register</button>
              </form>
              
        </div>
    </div>

</section>
